{
  "printWidth": 80,
  "proseWrap": "preserve",
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
